@inherits LayoutComponentBase
@namespace Aegis.Web.Components.Layout

<MudThemeProvider @bind-IsDarkMode="@IsDarkMode" Theme="CustomTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <main>
        <MudButton @onclick="ThemeSwitcher">Click me</MudButton>
        @Body
    </main>
</div>