@page "/"

<section>
    @* First Section *@
</section>

<section>
    @* Second Section *@
</section>

<section>
    @* Third Section *@
</section>

<section>
    @* Fourth Section *@
</section>

<section>
    @* Fifth Section *@
</section>

<section>
    @* Footer Section *@
</section>